<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Arimo&display=swap">
    <style>
        body {
            margin: 5%;
            font-family: 'Arimo', sans-serif;
        }
        .active {
            background: salmon;
            border: 0;
            padding: 5px;
        }
    </style>
</head>
<body>
    <div id="app">
        <!-- memasang props sebagai parameter component -->
        <header-component 
            name="Vue"
            gambar="./images/vue.png"
        ></header-component>

        <main>
            <kelas 
                v-bind:items="kelas" 
                :input="kelasBaru" 
                v-on:hapus-kelas="hapusKelas"
                v-on:submit-kelas="submitKelas"
            ></kelas>
            <home></home>
        </main>

        <footer-component>
            <p>Copyright 2021</p>
        </footer-component>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script>
        const Home = {
            template: `<div>Home</div>`
        }

        // membuat component, harus sebelum instance object new Vuenya
        Vue.component('header-component', {
            // implementasi props didalam templates
            template: `<header>
                    <img :src="gambar" alt="vueJS" width="80">
                    <p>{{ tagline }}</p>
                    <p>{{  'Hello ' + name }}
                </header>`,
            data: function() {
                return {
                    tagline: 'The progressive javascript framework'
                }
            },
            props: ['name', 'gambar']   // menggunakan props
        })

        Vue.component('footer-component', {
            template: `
                <footer id="footer">
                    <slot></slot>
                </footer>
            `
            // menggunakan slot, untuk merender attribute yg ada didalam komponen
            // dalam hal ini contohnya adalah <p></p> didalam component <footer-component>
        })

        Vue.component('kelas', {
            template: `
                <div>
                    <h3>Tambah Kelas</h3>
                    <p><input type="text" placeholder="Nama Kelas" v-on:keyup.enter="$emit('submit-kelas', $event)" ></p>

                    <hr/>

                    <h3>Daftar Kelas {{ items.length }}</h3>
                    <template v-if="items.length">  <!-- menggunakan element template untuk membungkus conditioning rendering -->
                        <ul>    <!-- v-if membuat elementnya benar" hilang tidak ditampilkan -->
                            <!--<li v-for="k in items">
                                {{ k }}
                            </li>-->    <!-- cara v-for 1 -->
                            <!-- <li v-for="item of items" v-text="item"></li> -->   <!-- cara v-for ke 2 menggunakan v-item -->
                            <li v-for="(item, i) of items">
                                {{ i+1 }} - {{item}} - <a href="#" v-on:click.prevent="$emit('hapus-kelas', i)">Hapus</a>
                            </li>   <!-- cara v-for ke 3 mengakses indexnya -->
                        </ul>
                    </template>
                    
                    <ul v-else>
                        <li>Kelas belum tersedia</li>
                    </ul>
                </div>
            `,
            data: function() {
                return {
                }
            },
            methods: {
            },
            props: ['items']
        })

        // parent component
        const data = {
            kelas: ['golang', 'css'],
            kelasBaru: ''
        }

        const vm = new Vue({
            el: '#app',
            data: data,
            methods: {
                hapusKelas: function(index) {
                    this.kelas.splice(index, 1)
                },
                submitKelas: function(event) {
                    const text = event.target.value
                    /* this.kelas.push(text)
                    event.target.value = '' */

                    // this.kelas.push(this.kelasBaru) // tambah array dari belakang
                    this.kelas.unshift(text) // tambah array dari depan
                    event.target.value = ''
                }
            },
            computed: {
            },
            components: {
                'home': Home,
                //'hapusKelas': HapusKelas
            }
        })
    </script>

</body>
</html>